@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400&display=swap');
:root{
--main-color: #12cc94;
--background-color: #8492a6;
--text-color: #343A40;
--dark-bacground: #222222;

}
*{
  font-family: 'Roboto', sans-serif
}



